<h1 class="heading-title">Projects</h1>
<div class="projects">


  @for(proj of projects; let index = $index; track proj.title) {
  <div class="project-desc">
    <div class="project-item">
      <div class="proj-thumb">
        <img [src]="proj.img" alt="" srcset="">
      </div>
      <div>
        <div class="proj-title">{{ proj.title }}</div>
        <div class="proj-desc">
          {{ proj.description }}
        </div>

        <div class="project-links">
          <a [href]="proj.link" target="_blank" class="cta-link">View Code</a>
        </div>
      </div>


    </div>



  </div>
  }
</div>