<div>


  <div class="indicator" #indicator>INDICATOR</div>
  <ul class="navigations">
    
    <li [routerLinkActive]="['tab-active']"><a (click)="navigateTo('/home' , $event)" ><fa-icon [icon]="houseIcon"></fa-icon><span >HOME</span></a></li>
    <li [routerLinkActive]="['tab-active']"><a (click)="navigateTo('/projects'  , $event)"><fa-icon [icon]="projectIcon"></fa-icon><span>PROJECTS</span></a></li>
    <li [routerLinkActive]="['tab-active']"><a (click)="navigateTo('/profile'  , $event)"><fa-icon [icon]="profileIcon"></fa-icon><span>PROFILE</span></a></li>
    <li [routerLinkActive]="['tab-active']"><a (click)="navigateTo('/contact'  , $event)"><fa-icon [icon]="contactIcon"></fa-icon><span>CONTACT</span></a></li>
  </ul>

</div>
