<ul class="navigations">
  <li [routerLinkActive]="['tab-active']"><a routerLink="/home" ><fa-icon [icon]="houseIcon"></fa-icon><span >HOME</span></a></li>
  <li [routerLinkActive]="['tab-active']"><a routerLink="/projects"><fa-icon [icon]="projectIcon"></fa-icon><span>PROJECTS</span></a></li>
  <li [routerLinkActive]="['tab-active']"><a routerLink="/profile"><fa-icon [icon]="profileIcon"></fa-icon><span>PROFILE</span></a></li>
  <li [routerLinkActive]="['tab-active']"><a routerLink="/contact"><fa-icon [icon]="contactIcon"></fa-icon><span>CONTACT</span></a></li>
</ul>
