<ul class="navigations">
  <li [routerLinkActive]="['tab-active']"><a routerLink="/home" ><fa-icon [icon]="houseIcon"></fa-icon>HOME</a></li>
  <li [routerLinkActive]="['tab-active']"><a routerLink="/projects"><fa-icon [icon]="projectIcon"></fa-icon>PROJECTS</a></li>
  <li [routerLinkActive]="['tab-active']"><a routerLink="/profile"><fa-icon [icon]="profileIcon"></fa-icon>PROFILE</a></li>
  <li [routerLinkActive]="['tab-active']"><a routerLink="/home"><fa-icon [icon]="contactIcon"></fa-icon>CONTACT</a></li>
</ul>
