.navigations {
  z-index: 999;
  list-style-type: none;
  display: flex;
  margin: 0;
  justify-content: center;
  background-color: #f07167;
  height:3rem;
  li{
    padding-top:1rem;
    padding-left:2rem;
    padding-right:2rem;
    height: 2rem;
    &.tab-active{
      background-color: black;
    }
    a{
      
      text-decoration: none;
      color:white;
      font-weight: 600;
    }
  }
}
