:host {
  // max-height: 100%;
  // overflow: hidden;


}



.container {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  flex-direction: row;
  background: linear-gradient(0deg, #000000, #f07167);
  background-size: 120% 120%;
  animation: gradient-animation 2s ease infinite;



  .contents {
    // padding: 3rem;
    overflow-y: auto;
    position: relative;
    // max-height: 100vh;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    // scroll-padding-top: 2rem;
    ;

    // transition:background 3s ease-in-out;
    .item {
      scroll-snap-align: start;


    }

    // &:has(app-name-banner) {
    //   width: 100%;

    //   background: linear-gradient(0deg, #000000, #f07167);
    //   background-size: 120% 120%;
    //   animation: gradient-animation 2s ease infinite;



    // }

    // &:has(app-projects) {

    //   background: linear-gradient(10deg, #000000, #e1776f);
    //   background-size: 120% 120%;
    //   animation: gradient-animation 2s ease infinite;



    // }

    // &:has(app-profile) {

    //   background: linear-gradient(20deg, #000000, #e69690);
    //   background-size: 100vw 100vh;
    //   animation: gradient-animation 2s ease infinite;



    // }
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}