div.contents {
  padding-left: 10rem;
  padding-right: 10rem;
}


.container{
  overflow-y: overlay;
  display:flex;
  flex-direction: column;
  &.vertical {
    flex-direction: row;
  }
  .nav{
    &.vertical{
      width:10%;
    }
  }

  .contents{
    &.vertical{
      width:85%;
    }
  }
}
