<div class="containers profile-container" @enterAnimation>
  <div class="relative flex">
    <img class="profile-img" src="./assets/images/profile/profile.jpg" alt="" />
    <div class="profile-name-section">
      <div class="profile-name">Nuttapon Khamkul</div>
      <div class="profile-position">Junior full-stack developer</div>
      <hr />
      <div class="profile-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut deleniti
        vero obcaecati facere optio? Vitae saepe voluptatum laboriosam ullam
        reiciendis consequatur officia fugit ad ab dolorem odit sapiente
        pariatur quod, veniam accusamus! Nesciunt aut ipsam rerum sed non harum
        reiciendis, autem provident eos distinctio esse ipsum optio cupiditate
        culpa eius obcaecati nihil voluptate ab porro laborum! Aspernatur,
        ducimus qui pariatur et neque quod? Soluta harum sit sint. Tempora saepe
        assumenda distinctio consequuntur magnam laboriosam molestiae natus odio
        repudiandae quo. Id maiores molestiae, aspernatur animi mollitia ullam
        debitis fugiat non error, tempora perferendis? Ullam cupiditate
        repellendus, repellat aliquid veritatis quos praesentium fugit
        blanditiis voluptas porro debitis eos deserunt id error, ut molestias
        eius a totam maxime officia. Aut voluptatibus nihil ex sed totam in
        eveniet beatae, ea quam dicta? Dicta dolore facilis expedita sed rerum
        reiciendis explicabo, labore repudiandae deserunt? Consequuntur
        temporibus alias laboriosam, asperiores numquam amet cumque vitae
        quibusdam aliquam quae labore doloremque totam mollitia dignissimos quia
        tenetur incidunt eveniet. Blanditiis, quasi illo. Pariatur officia quod
        laudantium porro autem modi, consequuntur cum corporis numquam eos
        aliquid iusto, id molestias maxime. Ad adipisci impedit dolorem nihil
        libero fugit odio atque harum asperiores fugiat commodi, vel similique
        quis quos cum. Ducimus, laudantium.
      </div>
    </div>
  </div>
  <div class="education-section">
    <div class="education-title">Education</div>
    <div class="education-graph">
      <div class="edu-year">2016-2020</div>
      <div class="flex graph-container">
        <div class="edu-wrapper">

          <div class="edu-box"></div>
          <div class="edu-place">
            Thammasat University<br />B.S. in Computer Science
          </div>

        </div>
      </div>


    </div>
    
    
  </div>
  <app-skills></app-skills>
</div>
