<div class="banner-container containers">
  <!-- data-aos="fade-right" -->
  <!-- @enterAnimation -->
  <div class="banner">
    <div>
      <!-- [@fadeAfterDelay]="h2State" -->
      <h2 [@fadeAfterDelay]="h2State">Hello</h2>

    </div>
    <!-- [@fadeAfterDelay]="nameState" -->
    <h1 [@fadeAfterDelay]="nameState">Nuttapon Khamkul</h1>
    <!-- Website for education purpose -->
    <!-- [@fadeAfterDelay]="guideState" -->
    <div [@fadeAfterDelay]="guideState" role="button" class="start-guide" (click)="startTour()">Start Tour</div>
  </div>
  <!-- <div class="gallery">
    <div class="image-wrapper" [ngClass]="{ active: toggleGallery }">
      <div
        class="gallery-item"
        *ngFor="let img of imgs; let index = index"
        [ngStyle]="{
          right: 'calc(-50px * ' + index + ') ',
          'z-index': imgs.length + index
        }"
      >
        <img [src]="img" alt="" />
      </div>
    </div>
    <div class="gallery-title" (click)="toggleGallery = !toggleGallery">
      Gallery
    </div>
  </div> -->
  <!-- <div class="framework">
    <div class="framework-title"><span>Frameworks</span></div>

    <div class="framework-item" *ngFor="let framework of frameworks">
      <div class="framework-item-title">{{ framework.title }}</div>
      <div>
        {{ framework.desc }}
      </div>
      <div class="fw-icon">
        <img [src]="framework.img" alt="" width="30" height="30" />
      </div>
    </div>
  </div> -->
</div>