$test: 206px;
$full: 100%;
.banner-container {
  height: calc(100vh - 50px) !important;

  .banner {
    background-color: black;
    color: white;
    height: 25%;
    padding: 3rem;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 150px;
    h1 {
      margin: 0;
    }
  }

  .gallery {
    margin-top: 0.5rem;
    $gallery-container-height: 200px;
    display: flex;
    position: relative;
    z-index: 1;
    height: 25%;
    .image-wrapper {
      // flex: 1 1 0;
      flex-grow: 1;
      position: relative;
      overflow-x: hidden;
      // width: 100px;
      // display: flex;
      &.active {
        // left: 0;
        @for $index from 1 through 4 {
          .gallery-item:nth-child(#{$index}) {
            right: calc((100%) - #{$test * $index}) !important;
          }
        }
        .gallery-item:nth-child(1) {
          img {
            border-top-left-radius: 50px !important;
          }
        }
        .gallery-item:nth-child(4) {
          img {
            border-top-right-radius: 50px !important;
          }
        }
      }
      .gallery-item {
        // flex: 1 1 0px;
        position: absolute;
        top: 0;
        height: 206px;
        width: 206px;
        transition: right 0.75s ease-in-out;
        img {
          width: 100%;
          height: 100%;

          transition: all 0.5s ease-in-out;
        }
      }
    }
    .gallery-title {
      // flex-grow: 0.75;

      text-align: center;
      padding-left: 2rem;
      padding-right: 2rem;
      font-size: 1.5rem;
      vertical-align: middle;
      line-height: $gallery-container-height;
      background-color: #fed9b7;
      height: 100%;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 50px;
    }
  }

  .framework {
    display: flex;
    height: 25%;
    width: 100%;
    align-items: stretch;
    .framework-title {
      position: relative;
      flex-grow: 1.25;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      text-align: center;
      font-size: 1.5rem;
      font-size: 1.5rem;
      background-color: #fed9b7;
      height: 100%;
      border-bottom-left-radius: 100px;
      border-top-right-radius: 100px;
    }

    .framework-item {
      position: relative;
      flex-wrap: wrap;
      padding-right: 2rem;
      padding-left: 2rem;
      padding-top: 2rem;
      flex-grow: 0.75;
      overflow: hidden;
      transition: box-shadow 0.25s ease-in-out;
      &:hover {
        .fw-icon {
          bottom: 0;
          right: 0;
        }
      }
      // align-items: center;
      // justify-content: center;
      .framework-item-title {
        font-size: 1.5rem;
        font-weight: 0;
        padding-bottom: 0;
        + div {
          font-weight: 100;
          position: abs;
        }
      }
      .fw-icon {
        // background-color: pink;
        position: absolute;
        bottom: -20px;
        right: -20px;
        transition: all 0.2s ease-out;
        img {
          width: 200px;
          height: 200px;
          opacity: 0.2;
        }
      }
    }
  }
}
